*{margin: 0px;
    padding: 0px;
}
body{
    background-color:rgb(85, 137, 99);
    font-family: Arial, Helvetica, sans-serif;

}
div{
    width: 1100px;
    margin: 0px;
    background-color: lightblue;
}
header{
    background-color: rgb(55, 136, 144);
    height: 100px;
    width: 100%;
    text-align: center;
    color: white;
    line-height: 100px;
}
nav{
    background: lightcyan;
    height: 50px;
}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}
#content{
    float: left;
    width: 80%;
    min-height: 500px;
    background: rgb(55, 136, 144);
}
aside{
    float: left;
    width: calc(20% - 20px);
    background: rgb(234, 191, 156);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    min-height: 485px;
}
footer{
   background: black;
   color: white;
   text-align: center; 
}